<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="./images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="./vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="v./endor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./css/util.css">
	<link rel="stylesheet" type="text/css" href="./css/main.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.css" rel="stylesheet" type="text/css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
					<div class="container" style="padding: 6%;"><center><h1>QR recognition system</h1></center>
			</div>
				<div class="login100-pic js-tilt" data-tilt>
					<img src="images/img-01.jpeg" alt="IMG">
				</div>

				<form class="login100-form validate-form" action="/login" method="post">
					<span class="login100-form-title">
						User Login
					</span>
                    <% if (messagel.length > 0) { %>
                        <div class="alert alert-danger"><%= messagel %></div>
                    <% } %>
                    <% if (messages.length > 0) { %>
                        <div class="alert alert-danger"><%= messages %></div>
                    <% } %>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
                            <button type="submit" class="login100-form-btn"> Login</button>
						
                    </div>
                    <div class="container" style="padding-top:20px">
                            <h7 style="text-align:center;">New User? <a href="/signup" data-toggle="modal" data-target="#myModal">Sign up</a></h7>
                            <h7 style="text-align:center;">or login Through</h7>
                        </div>

					<div class="row ">
					<div class="col-sm-6 container-login100-form-btn">
					<a class="btn btn-social btn-facebook" href="/auth/facebook">
						<span class="fa fa-facebook"></span>Facebook
						</a>
					</div>

					<div class="col-sm-6 container-login100-form-btn">
						<a class="btn btn-social btn-google" href="/auth/google">
							<span class="fa fa-google"></span>google
							</a>
                        </div>
					</div>					

				</form>
			</div>
		</div>
    </div>
    
    <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                            <div class="container">
                                    <div class="col-sm-6 col-sm-offset-3">
                                    
                                        <h1><span class="fa fa-sign-in"></span> Signup</h1>
                      </div>
                      <div class="modal-body">
                        <!-- LOGIN FORM -->
                        <form action="/signup" method="post">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" name="password-confirm">
                                </div>
                    
                            <button type="submit" class="btn btn-warning btn-lg">Signup</button>
                        </form>
                      </div>
                      <div class="modal-footer">
                            <hr>
                    
                            <p>Already have an account? <a href="/">Login</a></p>
                            <p>Or go <a href="/">home</a>.</p>
                      </div>
                    </div>
                
                  </div>
            
                    
                        
                        
                    
                       
                    
                    </div>
                    </div>
          </div>
    
	
	

	
<!--===============================================================================================-->	
	<script src="./vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="./vendor/bootstrap/js/popper.js"></script>
	<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="./vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="./vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="./js/main.js"></script>

</body>
</html>















